/node_modules
/public/build
.env
/vendor
npm-debug.log
yarn-error.log
resources/css/home.css
/public/hot
/public/storage
/storage/*.key
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/logs/*
/storage/app/public/*
/bootstrap/cache/*
!.gitignore
